{{ define "main" }}

<!-- main -->
<div class="w-full bg-green-0">

  <!-- Page title -->
  <div class="pt-2 pb-5 border-t border-black border-solid">
    <h1 class="text-4xl font-bold tracking-tighter lowercase font-equity-b-caps ">{{ .Title }}</h1>
  </div>

  <!-- Page description -->
  <div class="pb-10 text-3xl text-gray-700">
    {{ .Content }}
  </div>

  <!-- Items -->
  {{ range .Pages }}

  <!-- Title -->
  <div class="row">
    <div class="left-column"></div>
    <div class="right-column">
      <h2 class="mb-1 font-bold lowercase font-equity-b-caps"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></h2>
    </div>
  </div>

  <!-- Meta / summary -->
  <div class="mb-5 row">
    <div class="pr-5 text-xl text-gray-500 left-column">
      <p>{{ dateFormat "January 2, 2006" .Date }}</p>
      {{ with .Params.Topic }} <div class="mb-5">{{ . }}</div> {{ end }}
    </div>
    <div class="right-column">
      <p class="text-gray-700">{{ .Summary }} </p>
    </div>
  </div>

  
  {{ end }}
    
</div>

{{ end}}