{{ define "main" }}
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}

<!-- title -->
<div class="row">
  <div class="left-column"></div>
  <div class="right-column">
    <div class="pb-5 mb-5 border-b border-black border-solid">
      <h1 class="text-4xl font-bold tracking-tighter text-gray-900 lowercase font-equity-b-caps ">{{ .Title }}</h1>
    </div>
  </div>

</div>

<!-- Summary / metadata -->
<div class="row">
  <div class="pr-5 text-gray-500 left-column">
    <time class="" datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    {{ with .Params.Topic }} <div class="mb-5 text-2xl ">{{ . }}</div> {{ end }}
  </div>
  
  <div class="right-column">
    <div class="mb-5 text-3xl text-gray-700">
      {{ .Summary }}
    </div>
  </div>
</div>

<!-- Content -->
<div class="row">
  <div class="left-column"></div>
  <div class="leading-snug prose prose-2xl right-column prose-h2:font-equity-b-caps prose-h2:lowercase prose-h2:text-2xl">{{ .Content }}</div>
</div>

{{ end }}
