{{ define "main" }}
{{ $dateMachine := .Date | time.Format "2006-01-02T15:04:05-07:00" }}
{{ $dateHuman := .Date | time.Format ":date_long" }}

<!-- sidebar -->
<div class="bg-red-0 min-w-52">
  <div class="mt-20 text-right text-gray-500">
    <time datetime="{{ $dateMachine }}">{{ $dateHuman }}</time>
    {{ with .Params.Topic }} <div class="text-2xl text-gray-500 mb-5">{{ . }}</div> {{ end }}
  </div>
</div>

<!-- main -->
<div class="bg-green-0 flex-grow">

  <div class="border-b border-solid pb-5 mb-5 border-black">
    <h1 class="font-equity-b-caps font-bold lowercase text-4xl tracking-tighter ">{{ .Title }}</h1>
  </div>
  
  <div class="text-3xl text-gray-700 mb-5">
    {{ .Summary }}
  </div>
  
  <div class="prose prose-2xl leading-snug prose-h2:font-equity-b-caps prose-h2:lowercase prose-h2:text-2xl">
    {{ .Content }}
  </div>
  
  {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  
</div>

{{ end }}
